.row
  .col-md-12
    .eboard
      %h3 eBoard
      =render "clubs/memberships", club: @club, transfer: false, memberships: @club.memberships.admin
.row
  .col-md-12
    .mis
      %h3 Mission Statement
      %p= @club.description.html_safe if @club.description.present?