#transfer_power.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
        %h3 Transfer Power To A New Member
      .modal-body
        .members
          = render "clubs/memberships", club: club, transfer: true, memberships: club.memberships.ordered
      .modal-footer