- if @club.errors.blank?
  location.reload();
- else
  $(".modal-backdrop").hide();
  $("#club-popup").html("#{escape_javascript(render partial: 'form', locals: {club: @club})}");
  $("#create-club-link").click();
  $("input[type=submit]").removeAttr('disabled');