= content_for :header do
  .span10
    .page-title
      What kind of club are you looking for?
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni
    .span2
      %a.btn Alumni