= content_for :header do
  .span10
    .page-title.bottom2
      What kind of club are you looking for?
    - Club::CLUB_TYPES.each do |cate|
      = link_to cate, by_category_university_clubs_path(@university, category: cate), class: "btn btn-inverse toggle-btn span2 top", remote: true
  #club-list.span10


:javascript
  $(".toggle-btn").click(function(){
    $(".toggle-btn").removeClass("btn-success");
    $(".toggle-btn").addClass("btn-inverse");
    $(this).addClass("btn-success");
    $(this).removeClass("btn-inverse");
  });