@import "bourbon";

.btn4 {
  color: white;
  font-size: 26px;
  width: 100%;
  border: none;
  @include linear-gradient(#5c6067, #3c4449);
  border-radius: 0;
  height: 77px;
  float: left;
  line-height: 80px;
}

.btn6 {
  width: 50%;
  margin: 0 auto;
  color: white;
  font-size: 25px;
  @include linear-gradient(#56d988, #02c189);
  border-radius: 0;
  padding: 12px 0;
  margin-top: 25px;
  &:hover, &:active, &:focus {
    @include linear-gradient(#02c189, #4bc69f);
    color: white;
  }
}

.btns2 {
  width: 100%;
  float: left;
  position: relative;
  margin-left: -7px;
  li {
    float: left;
    margin-left: 7px;
    margin-bottom: 7px;
    button {
      @include linear-gradient(#5c6067, #3c4449);
      border-radius: 0;
      color: white;
      padding: 8px 20px;
      font-size: 12px;
      &:hover, &:active, &:focus {
        @include linear-gradient(#56d988, #02c189);
        color: white;
      }
    }
  }
}

.btn1 {
  float: right;
  border-radius: 0;
  width: 100%;
  height: 55px;
  text-align: center;
  margin: 0;
  @include linear-gradient(#5c6067, #3c4449);
  padding: 10px;
  i img {
    text-align: center;
    margin: 0 auto;
    margin-left: -25%;
  }
  &:hover, &:active, &:focus {
    @include linear-gradient(#3c4449, #5c6067);
  }
}

/* IE6-8 */

.btns {
  display: block;
  position: absolute;
  margin-left: 12px;
  bottom: 5px;
  li {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    &:last-child {
      margin-right: 0;
    }
    button {
      border-radius: 0;
      @include linear-gradient(#fafafb, #c9cbcd);
      border: none;
      padding: 7px 17px;
      font-size: 12px;
    }
  }
}

.btns li button {
  &:hover, &:active, &:focus {
    @include linear-gradient(#56d988, #02c189);
    color: white;
  }
}

.btn3 {
  @include linear-gradient(#5c6067, #3c4449);
  border-radius: 0;
  color: white;
  font-size: 14px;
  padding: 10px 50px;
  margin-top: 50px;
  &:hover, &:active, &:focus {
    @include linear-gradient(#3c4449, #5c6067);
    color: white;
  }
}

.btn7 {
  @include linear-gradient(#56d988, #02c189);
  color: white;
  width: 100%;
  text-align: center;
  font-size: 25px;
  height: 60px;
  border: none;
  margin-bottom: 30px;
}

.btn8 {
  @include linear-gradient(#5c6067, #3c4449);
  color: white;
  border: none;
  padding: 7px 20px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover, &:active, &:focus {
    @include linear-gradient(#3e464b, #5a5e65);
  }
}

.btn9 {
  width: 40%;
  text-align: center;
  color: white;
  font-size: 25px;
  text-align: center;
  position: relative;
  @include linear-gradient(#56d988, #02c189);
  border: none;
  padding: 10px 0;
  &:hover, &:active, &:focus {
    @include linear-gradient(#02c189, #4bc69f);
  }
}

.btn10 {
  @include linear-gradient(#5c6067, #3c4449);
  color: white;
  width: 40%;
  text-align: center;
  color: white;
  font-size: 25px;
  text-align: center;
  position: relative;
  padding: 10px 0;
  border: none;
  margin-left: -5px;
  &:hover, &:active, &:focus {
    @include linear-gradient(#3c4449, #5c6067);
  }
}

.btna7 {
  @include linear-gradient(#56d988, #02c189);
  color: white;
  text-align: center;
  padding: 5px 10px;
  border: none;
  margin-bottom: 30px;
}
