.clubs-inner {
  display: block;
  position: relative;
  padding: 10px 35px;
  float: left;
}

.music-img {
  border: 9px solid #ebebeb;
  width: 100%;
  height: 250px;
  float: left;
  position: relative;
  overflow: hidden;
  &:hover, &:active, &:focus {
    border: 9px solid #00c089;
  }
}

.music {
  display: inline-block;
  padding: 0 30px;
  width: 100%;
  float: left;
  margin-bottom: 70px;
  position: relative;
  a span {
    background: url(../assets/title-img.png) no-repeat;
    width: 264px;
    height: 70px;
    position: absolute;
    left: 17px;
    color: #444444;
    bottom: 80px;
  }
  &:hover a span, &:active a span, &:focus a span {
    background: url(../assets/title-img-hover.png) no-repeat !important;
    color: white;
  }
  p {
    font-size: 20px;
    margin: 10px 15px;
    float: left;
  }
  span strong {
    font-size: 31px;
    float: left;
    margin: 20px 0 20px 14px;
    font-weight: normal;
    font-family: "varela_roundregular";
  }
}

.info {
  background: white;
  padding: 20px 0;
  a.bka {
    width: 100%;
    text-align: left;
    padding: 0;
    float: left;
    margin-top: 0;
    height: 80px;
    color: #3a4348;
    line-height: 73px;
    background-color: #00bf89;
    text-indent: 30px;
    font-size: 28px;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: white;
    }
  }
  img {
    float: left;
    width: 100%;
    margin-top: -10px;
  }
  p {
    font-size: 19px;
    display: block;
    padding: 150px 45px;
    float: left;
  }
}
