$green: #00c088;

#universities{
  .user-gravatar{
    height: 70px;
    right: 0px;
    position: absolute;
  }
  .find-your-passion {
    background: url(/assets/banner-img.png) no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
  }
  ul {
    list-style-type: none;
  }
  .banner {
    float: left;
    display: block;
    width: 100%;
    height: 566px;
    position: relative;
  }

  .mod {
    display: inline;
    width: 50%;
    float: left;
  }

  .dra {
    font-weight: 400;
    float: left;
    width: 100%;
    height: 70px;
    padding: 16px 0;
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    background: #56d988;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2ZDk4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMmMxODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #56d988 0%, #02c189 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56d988), color-stop(100%, #02c189));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56d988 0%, #02c189 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56d988 0%, #02c189 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56d988 0%, #02c189 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #56d988 0%, #02c189 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56d988', endColorstr='#02c189', GradientType=0 );
    /* IE6-8 */
    &:hover, &:active, &:focus {
      background: #02c189;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyYzE4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YmM2OWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #02c189 0%, #4bc69f 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02c189), color-stop(100%, #4bc69f));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #02c189 0%, #4bc69f 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #02c189 0%, #4bc69f 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #02c189 0%, #4bc69f 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #02c189 0%, #4bc69f 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02c189', endColorstr='#4bc69f', GradientType=0 );
      /* IE6-8 */
      text-decoration: none;
      color: white;
    }
  }

  .field1 {
    float: right;
    background-color: #f7f7f7;
    padding: 15px;
    color: #333333;
    font-size: 18px;
    text-align: center;
    border: none;
    margin: 0;
    width: 80%;
  }

  .mod a {
    float: right;
    width: 20%;
    text-align: center;
  }

  .slider {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 35px;
    min-height: 350px;
    h2 {
      color: #666666;
      display: inline;
      position: relative;
      font-size: 22px;
      span {
        display: inline-block;
        padding: 5px 10px;
        background-color: #e7e7e8;
        a {
          display: none;
          font-size: 22px;
          background-color: #3a4348;
          color: white;
          padding: 5px 10px;
          text-align: left;
          z-index: 100;
          &:active, &:focus {
            text-decoration: none;
            color: white;
          }
        }
        &:hover a {
          display: block;
          color: white;
          font-size: 22px;
          text-decoration: none;
        }
      }
    }

    .find-by-food {
      position: absolute;
      left: 51px;
      top: 29px;
      width: 158px;
    }
    .find-by-date {
      position: absolute;
      left: 215px;
      top: 29px;
      width: 117px;
    }
  }


  .club {
    width: 47%;
    float: left;
    text-align: center;
    height: 493px;
    position: relative;
    button {
      font-size: 19px;
      padding: 13px 50px;
      margin-top: 380px;
    }
  }

  .all-clubs {
    background: url(/assets/football-img.png) no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
    width: 100%;
    background-color: #e7e7e8;
    overflow: hidden;
    float: left;
    &:hover {
      .blank { display: block; }
    }
    .blank {
      display: none;
      background-color: black;
      opacity: 0.8;
      height: 100%;
      position: absolute;
      width: 100%;
      font-size: 25px;
      color: white;
      text-align: center;
      padding: 75% 15px;
    }
    button {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -78px;
    }
  }

  .alumni-search {
    background: url(/assets/building-img.png) no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
    h2 {
      font-weight: 400;
      padding: 15px 0px 10px 20px;
      margin: 0px;
    }
    ul {
      padding: 0px 30px;
      li {
        width: 100%;
        float: left;
        margin-top: 8px;
        input, .gentleselect-label, button{
          width: 100%;
          height: 36px;
          color: white;
          font-size: 20px;
          padding: 5px 10px;
          background-color: $green;
          float: left;
          border: none;
          text-indent: 0px;
          margin: 0px;
        }
        button {
          height: 50px;
          font-size: 16px;
        }
      }
    }
  }

  .club-updates {
    background-color: #e7e7e8;
    float: left;
    min-height: 400px;
    h2 {
      padding: 15px 0px 10px 20px;
      font-weight: 400;
      margin: 0px;
    }
    p {
      font-size: 16px;
      color: #444444;
      padding: 5px 15px;
      margin: 0px;
      span a {
        color: #00c088;
      }
      &:hover, &:active, &:focus {
        background: #56d988;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2ZDk4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMmMxODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56d988), color-stop(100%, #02c189));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #56d988 0%, #02c189 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56d988', endColorstr='#02c189', GradientType=0 );
        /* IE6-8 */
        color: white;
      }
      &:hover a, &:active a, &:focus a {
        color: white;
      }
    }
  }

  .two-clumns {
    float: left;
    width: 100%;
    margin-left: 35px;
    margin-top: 10px;
  }



  .ch {
    margin: 0;
    padding: 18px 8px;
    font-size: 20px;
    margin-left: 2px;
  }

  .college-updates {
    min-height: 400px;
    background-color: $green;
    p {
      font-size: 19px;
      color: #444444;
      padding: 10px 20px;
    }
    h2 {
      font-weight: 400;
      padding: 15px 0px 10px 20px;
      margin: 0px;
    }
    p {
      span {
        color: white;
      }
      &:hover, &:active, &:focus {
        background: #56d988;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2ZDk4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMmMxODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56d988), color-stop(100%, #02c189));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #56d988 0%, #02c189 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #56d988 0%, #02c189 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56d988', endColorstr='#02c189', GradientType=0 );
        /* IE6-8 */
        color: white;
      }
    }
  }

  #event-carousel{
    margin-top: 40px;
    img {
      max-width: 100%;
      margin-bottom: 10px;
    }
    p {
      margin: 0px;
      font-size: 12px
    }
    .btn {
      margin-top: 20px;
    }
  }

  .strip {
    width: 100%;
    height: 10px;
    background-color: #e7e7e8;
    position: absolute;
    top: 24%;
    z-index: -1;
  }

  .carus {
    width: 100%;
    float: left;
    position: relative;
    li {
      float: left;
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .spo {
    background-color: #333333;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: -140px;
    position: relative;
    z-index: 1;
    height: 140px;
    width: 140px;
    border-radius: 90px;
    -moz-border-radius: 90px;
    -o-border-radius: 90px;
    -webkit-border-radius: 90px;
    -ms-border-radius: 90px;
    padding: 50px 15px;
    line-height: 20px;
    text-decoration: none !important;
  }


  .tree {
    width: 65%;
    float: left;
    position: relative;
    overflow: hidden;
    height: 450px;
    border: 7px solid #ebebeb;
  }

  .onef {
    float: left;
    width: 35%;
    h3 {
      color: #00c088;
      padding: 0 20px;
      margin: 0;
    }
    span {
      font-size: 18px;
      display: block;
      padding: 20px;
    }
  }
}
