#create_club {
  label {
    font-weight: normal;
    font-size: 19px;
    margin-top: 5px;
  }
  input {
    background-color: #ebebeb;
    border: none;
    border-radius: 0;
    height: 36px;
    padding-left: 15px;
    width: 100%;
  }
  input[type=submit] {
    width: 20%;
    min-width: 150px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
    width: 100%;
    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 999px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      background: red;
      cursor: inherit;
      display: block;
    }
  }

  .gentleselect-label {
    background-color: #ebebeb;
  }

  .input-label {
    text-align: right;
    padding-right: 10px;
  }

  textarea {
    width: 100%;
    resize: none;
    margin-top: 10px;
    padding: 10px 15px;
    height: 220px;
    background-color: #ebebeb;
    border-radius: 0;
    border: none;
  }
}