@import "bourbon";
$green: #00c088;

#search {
  h3 {
    margin-top: 125px;
    font-family: 'varela_roundregular';
  }

  .large-search {
    height: 60px;
    width: 80%;
    font-size: 25px;
    display: block;
    padding: 15px;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }



  #tab1x input, #tab2x input, #tab4x input {
    border: none;
    padding: 8px;
    color: #888888;
    margin: 15px 5px;
    margin-bottom: 0;
  }

  #tab3x {
    text-align: left;
    label {
      font-size: 18px;
      float: left;
      margin-right: 10px;
      margin-top: 5px;
      color: #666666;
    }
  }
}

#search-box, #search-detail-box {
  .nav {
    margin-left: 19%;
    margin-bottom: 20px;
    li {
      display: block;
      position: relative;
      background-color: white;
      border: 1px solid #BBBBBB;
      float: left;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0px;
      a {
        color: #999999;
      }
    }
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #999999;
    border-radius: 0px;
  }
  .nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    border-radius: 0px;
  }

  .tab-pane input{
    border: none;
    padding: 8px;
    color: #888888;
    margin: 4px 5px;
    margin-bottom: 0;
  }

  #club_search {
    ul {
      list-style-type: none;
      padding: 0px;
      li {
        display: inline-block;
        button {
          border-radius: 0px;
          @include linear-gradient(#5a5e65, #3e464b);
          color: white;
          &:hover {
            @include linear-gradient(#3e464b, #5a5e65);
          }
        }
      }
    }
  }

}