.calendar
  .caltitle
    %p{:style => "padding-bottom:0; float:none; font-size:22px;"}
      %a{:href => "#"} <<
      Week of November 15, 2013
      %a{:href => "#"} >>
  / caltitle
  %ul.events-list.mod3
    %li.light
      %strong SUN 12.15
      %span
      %h3 Event Title / Headline Here
      Brief description / subhead here.
      %a{:href => "#"} Click for more info.
    %li.dark
      %strong SUN 12.15
      %span
      %h3 Event Title / Headline Here
      Brief description / subhead here.
      %a{:href => "#"} Click for more info.
    %li.light
      %strong SUN 12.15
      %span
      %h3 Event Title / Headline Here
      Brief description / subhead here.
      %a{:href => "#"} Click for more info.
    %li.dark
      %strong SUN 12.15
      %span
      %h3 Event Title / Headline Here
      Brief description / subhead here.
      %a{:href => "#"} Click for more info.
