.calendar
  .caltitle
    %p{:style => "padding-bottom:0; float:none; font-size:22px;"}
      %a{:href => "#"} <<
      Week of November 15, 2013
      %a{:href => "#"} >>

  .row
    .col-md-3.date
      %p SUN 12.15
    .col-md-9.event-details
      %a EVENT TITLE HERE: Location Here
      %p Fun Run! Wyscarver park at 9:15. Don't forget breakfast after!

  .row.dark
    .col-md-3.date
      %p SUN 12.15
    .col-md-9.event-details
      %a EVENT TITLE HERE: Location Here
      %p Fun Run! Wyscarver park at 9:15. Don't forget breakfast after!

  .row
    .col-md-3.date
      %p SUN 12.15
    .col-md-9.event-details
      %a EVENT TITLE HERE: Location Here
      %p Fun Run! Wyscarver park at 9:15. Don't forget breakfast after!

  .row.dark
    .col-md-3.date
      %p SUN 12.15
    .col-md-9.event-details
      %a EVENT TITLE HERE: Location Here
      %p Fun Run! Wyscarver park at 9:15. Don't forget breakfast after!

