%ul.sub-nav.nav.nav-tabs
  %li.active
    %a{:href => "#lowdown", "data-toggle" => "tab"}
      Lowdown
  %li
    %a{:href => "#members", "data-toggle" => "tab"}
      Members
  %li
    %a{:href => "#about", "data-toggle" => "tab"}
      About
  %li
    %a{:href => "#money", "data-toggle" => "tab"}
      Money
  %li
    %a{:href => "#photos", "data-toggle" => "tab"}
      Photos
