.news-letter
  %h4 Newsletters
  %ul.hid
    %li
      %small
        %span 12.8.13 Newsletter Headline/Title Here
        %br/
        First few words of newsletter or summary. Lorem dolor sit amet, consecteturer adipiscing elit, send diam nonumy
        %span >>
        %br/
        %br/
        %a{:href => "#"} Post Comment
    %li
      %small
        %span 12.8.13 Newsletter Headline/Title Here
        %br/
        First few words of newsletter or summary. Lorem dolor sit amet.
        %span >>
        %br/
        %br/
        %a{:href => "#"} Post Comment
    %li
      %small
        %span 12.8.13 Newsletter Headline/Title Here
        %br/
        First few words of newsletter or summary. Lorem dolor sit amet.
        %span >>
        %br/
        %br/
        %a{:href => "#"} Post Comment
  .view-more
    %a{:href => "#"}
      View More
      %span >>
  .showa
    %h2 Crazy With the Color Run
    %span 12.8.13
    %br/
    %p
      Here is the full newsletter story. The user will scroll down to read the
      full story. When he reaches the end of the story, he will see an arrow
      to take him back to "newsletter main." Lorem dolor sit amet, consec
      tetuer adipiscing elit, sed diam nonummy.
      %br/
      %br/
      Here is the full newsletter story. The user will scroll down to read the
      full story. When he reaches the end of the story, he will see an arrow
      to take him back to "newsletter main." Lorem dolor sit amet, consec
      tetuer adipiscing elit, sed diam nonummy. Lorem dolor sit amet,
      consec tetuer adipiscing elit, sed diam nonummy.
      %br/
      %br/
      Dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
      Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam non-Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
      Here is the full newsletter story. The user will scroll down to read the
      full story. When he reaches the end of the story, he will see an arrow
      to take him back to "newsletter main." Lorem dolor sit amet, consec
      tetuer adipiscing elit, sed diam nonummy. Lorem dolor sit amet,
      consec tetuer adipiscing elit, sed diam nonummy.
      %br/
      %br/
      Dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
      Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
      Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam
      nonummy.
      %br/
      %br/
    %img{:alt => "Image", :height => "200", :src => "../../assets/running-club-img.png"}/

