#ssp3.col-lg-6
  .title
    %h1 Communication
  / title
  .communication
    .com-title
      %a{:href => "javascript:void(0);"} Notifications (2)
      %a{:href => "javascript:void(0);"} Messages (2)
      %a{:href => "javascript:void(0);"} Requests (1)
    / com-title
    %ul.accordion
      %li
        %a.nots2.sa.lala{:href => "javascript:void(0);"}
          %strong Notifications
          %i
        .clearfix
        .ddd
          .tiffny
            %a.tif-img{:href => "javascript:void(0);"}
            %p
              %a.tif-name{:href => "javascript:void(0);"} tiffany wisnieski
              Commented on your post.
              %br/
              YESTERDAY
              %br/
              %a.small-text{:href => "javascript:void(0);"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."
          / tiffny
          .tiffny
            %a.tif-img{:href => "javascript:void(0);"}
            %p
              %a.tif-name{:href => "javascript:void(0);"} tiffany wisnieski
              Commented on your post.
              %br/
              YESTERDAY
              %br/
              %a.small-text{:href => "javascript:void(0);"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."
          / tiffny
          .tiffny
            %a.tif-img{:href => "javascript:void(0);"}
            %p
              %a.tif-name{:href => "javascript:void(0);"} tiffany wisnieski
              Commented on your post.
              %br/
              YESTERDAY
              %br/
              %a.small-text{:href => "javascript:void(0);"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."
          / tiffny
          .tiffny
            %a.tif-img{:href => "javascript:void(0);"}
            %p
              %a.tif-name{:href => "javascript:void(0);"} tiffany wisnieski
              Commented on your post.
              %br/
              YESTERDAY
              %br/
              %a.small-text{:href => "javascript:void(0);"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."
          / tiffny
          .tiffny
            %a.tif-img{:href => "javascript:void(0);"}
            %p
              %a.tif-name{:href => "javascript:void(0);"} tiffany wisnieski
              Commented on your post.
              %br/
              YESTERDAY
              %br/
              %a.small-text{:href => "javascript:void(0);"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."
          / tiffny
          .tiffny
            %a.tif-img{:href => "javascript:void(0);"}
            %p
              %a.tif-name{:href => "javascript:void(0);"} tiffany wisnieski
              Commented on your post.
              %br/
              YESTERDAY
              %br/
              %a.small-text{:href => "javascript:void(0);"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."
          / tiffny
    .clearfix
    %li
      %a#mes.nots2.lala{:href => "javascript:void(0);"}
        %strong Messages
        \&nbsp; &nbsp; &nbsp; Edit &nbsp; &nbsp; &nbsp; New Message
        %i
      .ddd
        .comment-box
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
        .comment-box.dark
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
        .comment-box
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
        .comment-box.dark
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
    .clearfix
    %li
      %a.nots2.sa.lalas{:href => "javascript:void(0);"}
        %strong Requests
        %i
      .ddd
        .comment-box
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
        .comment-box.dark
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
        .comment-box
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
        .comment-box.dark
          %a.com-img{:href => "javascript:void(0);"}
            %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
          %a.com-name{:href => "javascript:void(0);"}
            Jane Doe
            %br/
            %span 1998
          %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.
        / comment-box
        .clearfix
  / communication
  .clearfix
/ col-lg-6
#mar.col-lg-4
  #ssp4
    .search
      %input{:name => "text", :placeholder => "Search", :type => "text"}/
      %a{:href => "search.html"}
        %button{:name => "btn"}
          %img{:alt => "Image", :src => "img/search-icon.png"}/
    / search
    .showass
      .info{:style => "position:relative; z-index:10000; width:100%; float:left"}
        %button.btn7{:name => "btn"} Comments
      / info
      .comment-box
        %a.com-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
        %a.com-name{:href => "javascript:void(0);"}
          Your Post
          %br/
          %span 1998
        %p Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse.
      / comment-box
      .clearfix
      .comment-box
        %a.com-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
        %a.com-name{:href => "javascript:void(0);"}
          Tiffany
          %br/
          Wisneski
          %br/
          %span 1998
        %p Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse.
      / comment-box
      .clearfix
      .comment-box
        %a.com-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :height => "85", :src => "img/circle.png", :width => "85"}/
        %a.com-name{:href => "javascript:void(0);"}
          Your Post
          %br/
          %span 1998
        %p Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse.
      / comment-box
      .clearfix
      %textarea.text2{:name => "textarea"}
      %button#uni.btn8.pull-right{:name => "btn"} Reply
    / showass
    .lal
      .info{:style => "position:relative; z-index:10000; width:100%; float:left"}
        %button.btn7{:name => "btn"} Connect
      / info
      .comment-box
        %a.com-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "img/circle.png"}/
        .com-name
          %span Andy Howard
        %p Here's Andy's full introductions. Lorem ipsum dolor sit amet, ectetuer. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore doloetctuer adipaicse. Lore dolor consetctuer adipaicse.
      / comment-box
      .clearfix
      %textarea.text2{:name => "textarea", :placeholder => "Write an optional message here"}
      %button.btn8{:name => "btn"} Accept
      %button.btn8{:name => "btn"} Decline
      %button.btn8{:name => "btn"} Recommend
    / lal
  / ssp4
/ col-lg-4
/ row
.clearfix

:javascript
  $(document).ready(function(){
    $('.selectyze2').Selectyze({
        theme : 'mac'
    });
    $('ul').accordion();
  $(".lala").on('click', function() {
     $(".lal").hide();
     $(".showass").show();
  });
  $(".lalas").on('click', function() {
     $(".showass").hide();
     $(".lal").show();
  });
  $("#mes").click(function(){
    if($('#uni').css('display')=='none')
    {
        $('#uni').css('display', 'block');
    }
    else
    {
        $('#uni').css('display', 'none');
    }
  });
  });
