.no-margin.col-md-6
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club
    %button.btn10{:name => "btn"} Join Club
  / run-club
  %ul.sub-nav
    %li
      %a{:href => "lowdown.html"} Lowdown
    %li
      %a{:href => "members.html"} Members
    %li
      %a{:href => "about.html"} About
    %li
      %a.current{:href => "money.html"} Money
    %li
      %a{:href => "photos.html"} Photos
  .members{:style => "padding:0; float:left; width:100%; overflow:hidden;"}
    .posd
      .sem
        %span Semester Dues (10)
        %button.btn9.mod4{:name => "brtn"} Purchase
        .selectBox
          %span.selected
          .selectOptions
            %span.selectOption{:value => "Option 1"} Membership
            %span.selectOption{:value => "Option 2"} DESIGNER
            %span.selectOption{:value => "Option 3"} DEVELOPER
          / selectOptions
        / selectBox
      / sem
      .sem
        %span Fall T-shirts (4)
        %button.btn9.mod4{:name => "brtn"} Purchase
        .selectBox
          %span.selected
          .selectOptions
            %span.selectOption{:value => "Option 1"} $15
            %span.selectOption{:value => "Option 2"} $25
            %span.selectOption{:value => "Option 3"} $35
          / selectOptions
        / selectBox
      / sem
      .sem
        %span Event Tickets (12)
        %button.btn9.mod4{:name => "brtn"} Purchase
        .selectBox
          %span.selected
          .selectOptions
            %span.selectOption{:value => "Option 1"} $12
            %span.selectOption{:value => "Option 2"} $24
            %span.selectOption{:value => "Option 3"} $36
          / selectOptions
        / selectBox
      / sem
    / posd
  / members
  .clearfix
/ col-lg-6
.no-margin.col-md-4
  = render 'shared/search'
  .info
    .news-letter
      %h4 Newsletters
      %ul.hid
        %li
          %small
            %span 12.8.13 Newsletter Headline/Title Here
            %br/
            First few words of newsletter or summary. Lorem dolor sit amet, consecteturer adipiscing elit, send diam nonumy
            %span >>
            %br/
            %br/
            %a{:href => "#"} Post Comment
        %li
          %small
            %span 12.8.13 Newsletter Headline/Title Here
            %br/
            First few words of newsletter or summary. Lorem dolor sit amet.
            %span >>
            %br/
            %br/
            %a{:href => "#"} Post Comment
        %li
          %small
            %span 12.8.13 Newsletter Headline/Title Here
            %br/
            First few words of newsletter or summary. Lorem dolor sit amet.
            %span >>
            %br/
            %br/
            %a{:href => "#"} Post Comment
      .showa
        %h2 Crazy With the Color Run
        %span 12.8.13
        %br/
        %p
          Here is the full newsletter story. The user will scroll down to read the
          full story. When he reaches the end of the story, he will see an arrow
          to take him back to "newsletter main." Lorem dolor sit amet, consec
          tetuer adipiscing elit, sed diam nonummy.
          %br/
          %br/
          Here is the full newsletter story. The user will scroll down to read the
          full story. When he reaches the end of the story, he will see an arrow
          to take him back to "newsletter main." Lorem dolor sit amet, consec
          tetuer adipiscing elit, sed diam nonummy. Lorem dolor sit amet,
          consec tetuer adipiscing elit, sed diam nonummy.
          %br/
          %br/
          Dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
          Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam non-Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
          Here is the full newsletter story. The user will scroll down to read the
          full story. When he reaches the end of the story, he will see an arrow
          to take him back to "newsletter main." Lorem dolor sit amet, consec
          tetuer adipiscing elit, sed diam nonummy. Lorem dolor sit amet,
          consec tetuer adipiscing elit, sed diam nonummy.
          %br/
          %br/
          Dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
          Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy.
          Lorem dolor sit amet, consec tetuer adipiscing elit, sed diam
          nonummy.
          %br/
          %br/
        = image_tag('running-club-img.png', height: '200')
        %button#nsw.btn8.pull-right{:name => "btn"} Go Back
      / showa
    / news-letter
    .calendar
      .caltitle
        %p{:style => "padding-bottom:0; float:none; font-size:22px;"}
          %a{:href => "#"} <<
          Week of November 15, 2013
          %a{:href => "#"} >>
      / caltitle
      %ul.events-list.mod3
        %li.light
          %a.evs{:href => "events.html"}
            %strong SUN 12.15
            %span
          %h3 Event Title / Headline Here
          Brief description / subhead here.
          %br/
          Click for more info.
        %li.dark
          %a.evs{:href => "events.html"}
            %strong SUN 12.15
            %span
          %h3 Event Title / Headline Here
          Brief description / subhead here.
          %br/
          Click for more info.
        %li.light
          %a.evs{:href => "events.html"}
            %strong SUN 12.15
            %span
          %h3 Event Title / Headline Here
          Brief description / subhead here.
          %br/
          Click for more info.
        %li.dark
          %a.evs{:href => "events.html"}
            %strong SUN 12.15
            %span
          %h3 Event Title / Headline Here
          Brief description / subhead here.
          %br/
          Click for more info.

= render 'shared/create_club'

:javascript
  $(document).ready(function(){
    $('.selectyze2').Selectyze({
        theme : 'mac'
    });
  $('#selector').gentleSelect(); // apply gentleSelect with default options
    $('#selector2').gentleSelect(); // apply gentleSelect with default options
  $("#hidShow").click(function(){
    if($('.sub-com').css('display')=='block')
    {
        $('.sub-com').css('display', 'none');
    }
    else
    {
        $('.sub-com').css('display', 'block');
    }
  });
  $(".hid").on('click', function() {
     $(this).hide();
     $(".showa").show();
  });
  $("#nsw").on('click', function() {
     $(".showa").hide();
     $(".hid").show();
  });
  });
