#ssp3.col-lg-6
  .title
    %h1 Settings
  / title
  .clearfix
/ col-lg-6
#mar.col-lg-4
  #ssp4
  = render 'shared/search'
.col-lg-offset-3.col-lg-4
  .form2
    %h3 Edit User
    %input{:name => "text", :placeholder => "FIRST NAME", :type => "text"}/
    %input{:name => "text", :placeholder => "LAST NAME", :type => "text"}/
    %select#selector{:name => "style2"}
      %option STUDENT
      %option ALUMNI
    %input{:name => "text", :placeholder => "EMAIL", :type => "text"}/
    %p Leave blank if you don't want to change it.
    %input{:name => "password", :placeholder => "PASSWORD", :type => "password"}/
    %input{:name => "password", :placeholder => "CONFIRM", :type => "password"}/
    %p We need your current password to confirm.
    %input{:name => "password", :placeholder => "CURRENT PASSWORD", :type => "password"}/
    %button.btn.btn5{:name => "btn"} Update
    %p
      %a.sl{:href => "javascript:void(0);"} Delete your account.
      %br/
      %br/
      %br/
      %span To edit your profile information,
      %br/
      %a{:href => "network.html"} CLICK HERE.
  / form2
/ col-lg-3
.col-lg-offset-4
/ col-lg-offset-4
/ row
.clearfix

:javascript
  $(document).ready(function(){
    $('.selectyze2').Selectyze({
        theme : 'mac'
    });
    $('#selector').gentleSelect(); // apply gentleSelect with default options
  });
