.conversation
  = render partial: 'message', collection: @conversation.messages.reverse
.span10
  %small.fright= link_to "Delete", message_path(@conversation), method: :delete, remote: true, class: "btn btn-danger btn-mini", confirm: "are you sure?"
#conversation_reply.hide
  = render partial: 'reply'
  
:javascript
  $(function () {
    // On Click messsage received from another user
    $("div.comment-box").click(function(){
      $("#conversation_reply").show();
    });  
  });