.comment-box
  = text_area_tag :comment, "", placeholder: message.body, class: "tex-area"
  %a{href: user_path(message.sender)}
    = image_tag message.sender.profile.image.small
  %button.btn6 Delete
  %strong= time_ago_in_words(message.created_at) + " ago"