.row
  .col-md-12
    = form_for Message.new, url: reply_message_path(@conversation), remote: true, html: { multipart: true} do |f|
      = f.text_area :body, class: "text2", placeholder: 'Write an optional message.'
      = f.submit "Reply", class: "btn8 pull-right"
