$(".comment-box").css("background", "none");
$("#con-#{@conversation.id}").css("background", "#9ce8c6");
$("#current_conversation").html("#{escape_javascript(render partial: 'comment_box', object: @conversation)}");
$("#unread_messages").html("(#{@unread_messages.size})");
