$("#new_conversation").hide();
$("#current_conversation").show();
$("#message-#{@conversation.id}").css("background", "#ddd");
$("#current_conversation").html("#{escape_javascript(render partial: 'conversation')}");
$("#current_conversation").append("#{escape_javascript(render partial: 'reply')}")
$("#unread_messages").html("#{@unread_messages.size}")