$(".comment-box").css("background", "none");
$("#con-#{@conversation.id}").css("background", "#9ce8c6");
$("#current_conversation").html("#{escape_javascript(render partial: 'comment_box', object: @conversation)}");
- if @unread_messages.size==0
  $("#unread_messages").html("");
- else
  $("#unread_messages").html("(#{@unread_messages.size})");