- @events.each do |event|
  .span12.top2{style: "margin-left: -30px; width: 103%;"}
    .span12.event-item
      .span12.left2.ev-title= link_to event.title, "#event#{event.id}_detail", :"data-toggle" => "modal"
      .span12.ev-description.top= event.description
  = render partial: "event", locals: {event: event}
      
- if @events.blank?
  .page-title No events this day.