%ul
  - @clubs.each do |club|
    %li.span3{style: "margin-left: 20px; margin-top: 50px;"}
      .users
        = link_to university_club_path(@university, club) do
          = image_tag club.image.xlarge, class: "circular"
          %span{style: "margin-left: 21px;"}= club.name

%h3
  = "No results found" if @clubs.blank?