.post
  %a.npost{:href => "#"}
    New Post
    %span &raquo;
  %ul.lat-posts
    %li.light
      = link_to image_tag('post-img.png'), '#', class: 'img2'
      %h3
        %a{:href => "network.html"} Andy Howard
      %br/
      %span Lorem ipsum dolor sit amet consecteture.
      %br/
      %a.po-cm{:href => "#"} Post comment