.members
  .filter
    %ul
      %li
        %span (52) Filter:
      %li
        %a.current{:href => "#"} All
      %li
        %a{:href => "#"} Alumni
      %li
        %a{:href => "#"} Students
      %li
        %a{:href => "#"} Sponsors
  %ul.mem
    %li
      = link_to image_tag('profile-img.png', height: '65', width: '65'), '#', class: 'onw'
      %strong
        %a{:href => "#"} ellie richards
      %small Law 2014