.members{:style => "padding:0; float:left; width:100%; overflow:hidden;"}
  .posd
    .sem
      %span Semester Dues (10)
      %button.btn9.mod4{:name => "brtn"} Purchase
      .selectBox
        %span.selected
        .selectOptions
          %span.selectOption{:value => "Option 1"} Membership
          %span.selectOption{:value => "Option 2"} DESIGNER
          %span.selectOption{:value => "Option 3"} DEVELOPER

    .sem
      %span Fall T-shirts (4)
      %button.btn9.mod4{:name => "brtn"} Purchase
      .selectBox
        %span.selected
        .selectOptions
          %span.selectOption{:value => "Option 1"} $15
          %span.selectOption{:value => "Option 2"} $25
          %span.selectOption{:value => "Option 3"} $35

    .sem
      %span Event Tickets (12)
      %button.btn9.mod4{:name => "brtn"} Purchase
      .selectBox
        %span.selected
        .selectOptions
          %span.selectOption{:value => "Option 1"} $12
          %span.selectOption{:value => "Option 2"} $24
          %span.selectOption{:value => "Option 3"} $36