= content_for :head do
  = javascript_include_tag 'static/money'


#money.members{:style => "padding:0; float:left; width:100%; overflow:hidden;"}
  .posd
    .sem
      %span Semester Dues (10)
      %button.mod4{:name => "brtn"} Purchase
      %select
        %option Membership
        %option DESIGNER
        %option DEVELOPER

    .sem
      %span Fall T-shirts (4)
      %button.mod4{:name => "brtn"} Purchase
      %select
        %option $15
        %option $25
        %option $35

    .sem
      %span Event Tickets (12)
      %button.mod4{:name => "brtn"} Purchase
      %select
        %option $12
        %option $24
        %option $36

