#club-photos.members
  %a.new-album{"data-target" => "#create_album", "data-toggle" => "modal", :href => "#"}
    New Album
    %span &raquo;

  .photo-box
    %h4 Album Title Here
    %a{"data-target" => "#album_title", "data-toggle" => "modal", :href => "#"}
      %img{:alt => "Image", :src => "/assets/club-img.png"}/

  .photo-box
    %h4 Album Title Here
    %a{"data-target" => "#myModal2", "data-toggle" => "modal", :href => "#"}
      %img{:alt => "Image", :src => "/assets/club-img.png"}/


= render 'shared/create_album'
= render 'shared/album_title'
