= simple_form_for [update, Comment.new], remote: true do |f|
  = f.input :comment, as: :text, label: false, input_html: {class: "span11", rows: 4}
  = f.submit "Post comment", class: "btn btn-success"