$(".left-side ul.msg li").css("background", "none");
$("#request-#{@relationship.id}").css("background", "#ddd");
$("#current_request").html("#{escape_javascript(render partial: 'request', locals: {request: @relationship})}");
