#college_update.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title College Updates
      / modal-header
      .modal-body
        .tree
          %img{:alt => "Image", :src => "img/running-club-img.png"}/
        / tree
        .onef
          %h3 Image Name Here
          %span Text description about the image will goes here......
