#create_album.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title Create Album

      .modal-body
        %form.forms
          .half
            %label Name
            %input{:name => "text", :type => "text"}/
            .clearfix
            %label Location
            %input{:name => "text", :type => "text"}/
            .clearfix

          .half
            %label Images
            %button.btnx.pull-left{:name => "btn"} Choose File
            .clearfix
            %label.ne.wig Description
            %textarea
            %button.create-album Create Album