#create_club.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title Create Club

      .modal-body
        %form#sops.forms
          .row
            .col-md-2.no-padding.input-label
              %label Club Name
            .col-md-4.no-padding
              %input{:name => "text", :type => "text"}/

            .col-md-2.no-padding.input-label
              %label Category
            .col-md-4.no-padding
              %select{:name => "style2"}
                %option Academic
                %option Non Academic

          .row
            .col-md-2.no-padding.input-label
              %label Private
            .col-md-4.no-padding
              %select{:name => "style2"}
                %option Yes, this club is private
                %option No, this club is not private

            .col-md-2.no-padding.input-label
              %label Image
            .col-md-4.no-padding
              %button.btnx{:name => "btn"} Choose File

          .row
            .col-md-2.no-padding.input-label
              %label Description
            .col-md-10.no-padding
              %textarea

          .row
            .col-md-12.pull-right
              %button.btng{:name => "btn"} Create Club
