- if @event.errors.blank?
  window.location.reload();
- else
  $("#event-popup#{@event.id}").html("#{escape_javascript(render partial: 'club_events/form', locals: {event: @event})}");
  $("#event#{@event.id}-link").click();
  $('#event-form#{@event.id} .datepicker').datepicker({ dateFormat: "mm/dd/yyyy" });