.page_container
  #about.row
    .col-md-4
      .heading
        %p About Us

    .col-md-4
      #new.cent-text
        %h3 Your Network is Waiting For You. On Cahoots.
        %br/
        %p The college experience isn't just those unforgettable four years. It is the creative interaction that abounds when athletes, artists, academics, and adventurers meet and collaborate on ideas. It is about what happens next with the new abilities, talents and confidence instilled by a college education. Imagine the potential of keeping your college community always in contact. On Cahoots creates meaningful relationships between alumni and students in order to maintain cohesive college communities.
        %br/
        %a.register_button.btn7.pads.btn-div{:href => "javascript:;"} Register
  .clearfix
