.page_container
  .row
    .row
      .col-md-3
        .heading
          %p For Alumni
    .row
      .col-md-11.cent-text
        %h3 Access to Your College Network
        %p Reach out to old college friends or connect with other alums in your field. Since your time is valuable, set contact requirements to limit communication from students.
    .row
      .col-md-12
        .slider
          %ul#flexiselDemo2
            %li= link_to image_tag('im11.png', width: '160'), "#"
            %li= link_to image_tag('im22.png', width: '160'), "#"
            %li= link_to image_tag('im33.png', width: '160'), "#"
        .slider-background
    .row
      .col-md-offset-1.col-md-5
        .cent-text.newt
          %h3 Find Your College Wherever You Go
          %p When moving or travelling a new city, click on the alumni map to see who is nearby. Checkout news posted by your college network on each city's Cahoots page.

      .col-md-5
        .cent-text.newt2
          %h3 Stay In Touch with Your College Clubs
          %p Remain an alum member of all the organizations that made your college experience so memorable. What is a cause without a community?
  .clearfix
