.page_container
  .row
    .col-md-3
      .heading
        %p For Students
  .row
    .col-md-12.cent-text
      %h3 Find Free Food on Your Campus
      %p
        View every campus event that offers free food every day.
        %br/
        Hunger, be gone!

  .row
    .col-md-12
      .slider
        %ul#flexiselDemo1
          %li= link_to image_tag('im1.png', width: '160'), "#"
          %li= link_to image_tag('im2.png', width: '160'), "#"
          %li= link_to image_tag('im3.png', width: '160'), "#"
      .slider-background
  .row
    .col-md-offset-1.col-md-5
      .cent-text
        %h3 Organize Your Clubs and Organizations
        %p
          Any student organization can create its own webpage for both internal organization and external communication.
          On Cahoots will make leaders of us all.

    .col-md-5
      .cent-text
        %h3 Access Your College Network
        %p The easiest way to access your network - view a map of all alumni around the world. Filter alums based on their location, field, grad year or major.
.clearfix
