$("span.events-slide").html("#{escape_javascript(render partial: 'slide', locals: {events: @events})}");
- if params[:free_food]=='true'
  $('span.all-ev-filter').addClass('hide');
  $('span.free_food-ev-filter').removeClass('hide');
- else
  $('span.all-ev-filter').removeClass('hide');
  $('span.free_food-ev-filter').addClass('hide');