$("#filter_bar").html("#{escape_javascript(render partial: 'events/filter_bar', locals: {university: @university})}");
$(".events-slide").html("#{escape_javascript(render partial: 'slide', locals: {university: @university, events: @events})}");
$("#flexiselDemo2").flexisel({visibleItems: 3});
