$("#events-list").html("#{escape_javascript(render partial: 'list', locals: {events: @events})}");
$("#event-detail").html("#{escape_javascript(render partial: 'detail_list', locals: {events: @events})}");

- if params[:filter] == 'weekly'
  $("p.month_slide").html("#{escape_javascript(render partial: 'weekly_bar', locals: {date: @date})}");

-elsif !@date.blank?
  $("p.month_slide").html("#{escape_javascript(render partial: 'month_bar', locals: {date: @date})}");