%h1 New invitation
= simple_form_for [@university, @club, @invitation], :html => { :class => "form-horizontal" } do |f|
  = f.input :recipient_id, collection: User.all.sort_by(&:first_name), label_method: :full_name, value_method: :id
  = f.submit :class => 'btn btn-primary'
