= content_for :header do
  .span10.page-title.top2.bottom2
    %span#person-title which contacts are you looking for?
  .span10.no-lmar
    = render partial: "search/person_options"
  .span10.no.lmar
    .offset6= link_to "Search", "javascript:;", class: "btn btn-success", id: "search-contact"
  .row-fluid
    .container
      .span10.top2
        #search-results.top2
          =  render partial: "search/persons", locals: {persons: @contacts}