.login
  .span12{style: "margin-bottom: 30%"}
    .span8
      .span9
        .welcome
          %p Professionsl alumni network +
          %p Vibrant college campus =
          %p The best four years of your life brought to the real world 
    .span4
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical login-form'}) do |f|
        %input#user_email.string.email.fioled0{:name => 'user[email]', :autofocus => 'autofocus', :type => 'email', :placeholder => 'Email'}
        %input#user_password.password.fioled0{:name => 'user[password]', :autofocus => 'autofocus', :type => 'password', :placeholder => 'Password'}
        = link_to "Forgot password?", "#"
        .clearfix
        = f.submit "Login", class: "btn btn-success btn4", style: "width: 35%; padding: 5px;"
        %a.btn.btn-success.btn4{href: new_user_registration_path, style: "width: 35%"} Register

  .span12
    .welcome.offset2
      %p Your network is waiting for you. On Cahoots.
      %br
      %br