.modal.fade{id: "update#{update.id}-popup","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title College Updates
      / modal-header
      .modal-body
        .tree
          = image_tag update.image, alt: "Image"
        / tree
        .onef
          %h3= update.image.filename
          %span= update.body
        .clearfix