@import "bourbon";
$green: #00c088;


#clubs, #metropolitan_clubs {
  #transfer_power {
    .modal-body {
      max-height: 500px;
      overflow-y: scroll;
      li {
        height: 100px;
      }
      form {
        display: inline;
      }
    }
  }

  li{
    list-style-type: none !important;
  }

  .not-joined {
    text-align: center;
    margin-top: 50px;
  }

  .view-more {
    text-align: right;
    margin-bottom: 10px;
    a {
      color: #444444;
      font-size: 14px;
      margin-right: 30px;
      span {
        color: #04c189;
      }
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: #04c189;
      }
    }
  }

  .calendar {
    .date{
      font-size: 16px;
      margin-top: 25px;
      text-align: center;
      padding: 0px;
    }
    .event-details{
      padding: 10px;
      a {
        color: $green;
      }
      p {
        font-size: 12px;
      }
    }
  }

}

#clubs, #metropolitan_clubs {
  .clubs-inner {
    display: block;
    position: relative;
    padding: 10px 35px;
    float: left;
  }

  ul.club-tabs {
    padding: 0px;
    li {
      display:inline;
      button {
        margin-bottom: 5px;
        @include linear-gradient(#5c6067, #3c4449);
        color: white;
        border-radius: 0;
        font-size: 12px;
        padding: 7px 20px;
      }
    }
  }

  .music-img {
    border: 9px solid #ebebeb;
    width: 100%;
    max-width: 689px;
    height: 250px;
    float: left;
    position: relative;
    overflow: hidden;
    &:hover, &:active, &:focus {
      border: 9px solid #00c089;
    }
  }

  .music {
    display: inline-block;
    padding: 0 30px;
    width: 100%;
    margin-bottom: 70px;
    position: relative;
    a span {
      background: url(/assets/title-img.png) no-repeat;
      width: 264px;
      height: 70px;
      position: absolute;
      left: 17px;
      color: #444444;
      bottom: 80px;
      .glyphicon {
        top: -3px;
        padding: 0px;
        font-size: 14px;
        z-index: 1004;
      }
    }
    a.remove {
      float: right;
      display: block;
      padding: 10px 15px;
      .glyphicon {
        vertical-align: bottom;
      }
    }
    &:hover a span, &:active a span, &:focus a span {
      background: url(/assets/title-img-hover.png) no-repeat !important;
      color: white;
    }
    p {
      font-size: 20px;
      margin: 10px 15px;
      float: left;
    }
    span strong {
      font-size: 31px;
      float: left;
      margin: 20px 0 20px 14px;
      font-weight: normal;
    }
  }

  .my-clubs {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    img {
      max-height: 250px;
    }
    .club-title {
      font-size: 26px;
      background: $green;
      padding: 10px 30px;
      color: #333;
      text-decoration: none;
    }
    .no-clubs {
      padding: 50px 30px;
      text-align: center;
    }

  }

  .rub-club {
    position: relative;
    .edit {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 7px;
      i {
        background-color: #00c089;
      }
    }

  }

}

.input-label .tooltip-inner {
  position: relative;
  left: 82px;
}

