@import "bourbon";
$green: #00c088;
$hover_green: rgb(156,231,198);
$light: #f7f7f7;
$dark: #e7e7e8;

#events {
  .title {
    h1 {
      a {
        color: #333;
        font-size: 16px;
        font-weight: 400;
        margin: 0px 5px;
        &:hover {
          text-decoration: none;
          color: $green;
        }
      }
    }
  }
  .session {
    background-color: #e7e7e8;
    width: 100%;
    margin-top: -10px;
    height: 40px;
    text-align: center;
    a {
      display: inline-block;
      padding: 11px;
      font-size: 14px;
      color: #333333;
      &:hover, &:active, &:focus {
        color: #04b885;
        text-decoration: none;
      }
    }
  }
  .event-listing {
    .date {
      padding: 10px 0px 10px 20px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 0px;
      font-weight: 400;
    }
    p {
      margin: 0px;
      font-size: 14px;
      font-weight: 400;
    }
    .event-title {
      a {
        color: #333;
        text-decoration: none;
      }
    }
    &:nth-child(even) {
      background-color: #e7e7e8;
    }
    &:hover, &:active, &:focus {
      background: $hover_green;
      cursor: default;
    }
  }
  .event-area-content {
    text-align: center;
    width: 100%;
    p {
      font-size: 20px;
      margin-top: 20px;
      a {
        color: #0dc489;
      }
    }
    span {
      text-align: justify;
      font-size: 16px;
      display: block;
      padding: 0 25px;
    }
  }
  .event-area-title {
    min-height: 73px;
    text-align: center;
    @include linear-gradient(#56d988, #02c189);
    p {
      color: white;
      font-size: 27px;
      display: block;
      padding-top: 20px;
    }
  }
  #event-area-monthly-listing table{
    .event-img-small {
      max-width: 75px;
    }
    p {
      font-size: 12px;
      margin: 0px;
    }
    td {
      vertical-align: middle;
      border: none;
    }
    tr {
      &:hover, &:active, &:focus {
        background-color: $hover_green;
        cursor: default;
      }
    }
  }

  #monthly-events-calendar, #weekly-events-calendar {
    img {
      width: 60%;
      margin: 40px 20%;
    }
  }
  #create_event, #new_event {
    .gentleselect-dialog {
      overflow-y: scroll;
      height: 145px;
      width: 140px;
    }
    form {
      label {
        text-align: right;
        font-weight: normal;
        color: #444444;
        font-size: 16px;
        margin-top: 7px;
        margin-bottom: 30px;
        float: right;
      }
      @media (max-width: 991px) {
        label {
          float: none;
          margin: 10px 0px 0px -15px;
        }
      }
      input {
        background-color: #ebebeb;
        border: none;
        border-radius: 0;
        height: 40px;
        float: left;
        width: 100%;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      textarea {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        padding: 10px;
        background-color: #ebebeb;
        border: none;
      }
      .gentleselect-label {
        background-color: #ebebeb;
      }
      .btnx {
        width: 100%;
        height: 40px;
        margin: 0px;
        padding: 0px;
      }
    }
  }

}

table.events-list {
  width: 100%;

  td {
    &.event_date_column {
      width: 150px;
      text-align: center;
      font-size: 1.15em;
    }

    &.event_information_column {
      padding-top: 10px;
    }

    .event_title {
      text-transform: uppercase;
    }

    .event_title, .event_location {
      color: $green;
    }
  }
  tr:nth-child(odd) {
    background-color: $dark;
  }

}