@import "bourbon";
$green: #00c088;
$light: #f7f7f7;
$dark: #e7e7e8;
$darkgray: #5c6067;
$darkgraylighter: #3c4449;
$middarkgray: #7F8588;
$middarkgraylighter: #919A9C;

.green-text {
  color: $green;
}

.title {
  height: 70px;
  overflow: hidden; // todo: not a great way to fix this
  @include linear-gradient(#fff, #ededed);
  h1 {
    font-size: 35px;
    font-weight: 400;
    padding-left: 35px;
    margin-top: 17px;
  }
  .link {
    margin-top: 32px;
    a {
      color: #333;
      font-size: 16px;
      font-weight: 400;
      &:hover {
        text-decoration: none;
        color: $green;
      }
      span {
        color: $green;
      }
    }
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 90% !important;
  }
}

@media (max-width: 991px) {
  .modal-dialog label {
    float: left;
    margin: 0px 10px 0px 0px;
  }
}


//#############################
//CLEANED CSS ABOVE THIS LINE
//#############################

.margin10 {
  margin-top: 10px;
}

.margin5 {
  margin-top: 5px;
}

.no-padding {
  padding: 0px;
  margin: 0px;
}

.no-margin {
  margin: 0 0 0 -15px !important;
}

.search {
  width: 100%;
  float: left;
  input {
    width: 80%;
    border: none;
    font-size: 25px;
    font-weight: 400;
    float: left;
    height: 70px;
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-top: 5px;
    border: 1px solid rgba(92, 96, 103, 0.1);
    border-right: none;
  }
  button {
    width: 20%;
    border: none;
    @include linear-gradient(#5c6067, #3c4449);
    border-radius: 0;
    height: 70px;
    &:hover, &:active, &:focus {
      @include linear-gradient(#3c4449, #5c6067);
    }
  }
}

.light {
  background-color: $light;
}

.dark {
  background-color: $dark;
}

.caltitle {
  min-height: 73px;
  text-align: center;
  @include linear-gradient(#5c6067, #3c4449);
  p {
    color: white;
    font-size: 27px;
    display: block;
    padding-top: 20px;
    a {
      font-size: 18px;
      color: #04b885;
    }
  }
}

.btn77 {
  @include linear-gradient(#56d988, #02c189);
  color: white;
  width: 100%;
  text-align: center;
  font-size: 25px;
  height: 81px;
  border: none;
  margin-bottom: 30px;
}

.run-club {
  position: relative;
  display: block;
  width: 100%;
}



.sub-nav {
  width: 100%;
  display: block;
  float: left;
  position: relative;
  padding-left: 20px;
  @include linear-gradient(#5c6067, #3c4449);
  li {
    float: left;
    a {
      display: block;
      padding: 12px 15px;
      font-size: 15px;
      color: white;
      &:hover, &:active, &:focus {
        color: #04c189;
        text-decoration: none;
      }
    }
  }
}

.news-letter {
  text-align: left;
  h4 {
    color: #04c189;
    font-size: 33px;
    text-indent: 35px;
  }
  ul {
    position: relative;
    display: block;
    padding: 0px;
    li {
      display: inline-block;
      width: 100%;
      color: #444444;
      padding: 10px 30px;
      small {
        font-size: 13px;
        margin: 0px;
        span, a {
          color: #04c189;
        }
      }
      &:hover, &:active, &:focus {
        @include linear-gradient(#56d988, #02c189);
        color: white;
      }
      &:hover span, &:active span, &:focus span, &:hover a, &:active a, &:focus a {
        color: white;
      }
    }
  }
}

.current {
  color: #04c189 !important;
}


/* IE6-8 */

.showa {
  padding: 0 35px;
  display: none;
  h2 {
    font-size: 25px;
    color: #04c189;
    margin: 0;
  }
  span {
    color: #04c189;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    padding: 0;
  }
  img {
    margin-bottom: 20px;
  }
}





.mis {
  font-size: 15px;
  a {
    color: #04c189;
    &:hover, &:active, &:focus {
      caption-side: #04c189;
    }
  }
}

.modal-content {
  border-radius: 0;
  border: 8px solid #ebebeb;
  background-color: #f7f7f7;
}

.close {
  background: url(../assets/cross.png) no-repeat !important;
  height: 55px;
  opacity: 1;
  filter: alpha(opacity = 100);
  width: 55px;
  display: block;
  float: right;
  margin-right: -43px;
  margin-top: -43px !important;
  z-index: 1000;
  &:hover, &:active, &:focus {
    opacity: 0.8;
    filter: alpha(opacity = 80);
  }
}

.modal-title, .modal-header {
  font-size: 35px;
  padding: 10px 15px;
  border-bottom: none;
}

.modal-dialog {
  width: 70%;
}

.title p a {
  color: #444444;
  &:hover, &:active, &:focus {
    color: #777777;
  }
}

.forms {
  position: relative;
  display: block;
  padding: 0 20px;
  .half {
    min-height: 100px;
    label {
      text-align: right;
      font-weight: normal;
      color: #444444;
      margin-right: 15px;
      font-size: 19px;
      margin-top: 5px;
      margin-bottom: 30px;
      width: 25%;
      float: left;
    }
    input {
      background-color: #ebebeb;
      border: none;
      border-radius: 0;
      height: 40px;
      float: left;
      width: 70%;
      padding-left: 15px;
      margin-bottom: 20px;
    }
  }
}

.btnx {
  border-radius: 0;
  border: none;
  color: white;
  text-align: center;
  @include linear-gradient(#5c6067, #3c4449);
  width: 70%;
  float: left;
  padding: 10px 0;
  font-size: 20px;
}

.ne {
  text-align: right;
  font-weight: normal;
  color: #444444;
  margin-right: 35px;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 10.5%;
  float: left;
}

.texta {
  width: 85.5%;
  resize: none;
  float: left;
  margin-top: 10px;
  padding: 10px 15px;
  height: 220px;
  background-color: #ebebeb;
  border-radius: 0;
  border: none;
}

.btng {
  clear: right;
  float: right;
  margin-top: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 6px 15px;
  color: white;
  font-size: 16px;
  @include linear-gradient(#56d988, #02c189);
}

/* IE6-8 */

.activex a {
  color: white !important;
  text-decoration: none;
  @include linear-gradient($middarkgraylighter, $middarkgray);
  text-transform: uppercase;
  font-family: inherit;
}

.tabsx {
  li {
    a {
      text-transform: uppercase;
      font-family: inherit;
      color: $middarkgraylighter;
      background-color: white;
      border-radius: 0;
    }

    border: solid 1px $middarkgraylighter;
    padding: 0;
    margin: 0;
  }
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

/* IE6-8 */

.mon {
  display: none;
  position: relative;
  width: 100%;
  float: left;
}

.mon {
  .comment-box {
    width: 100%;
    .com-name {
      margin-bottom: 0;
    }
    &:hover, &:active, &:focus {
      background-color: #9ce8c6;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.ch2s {
  width: 20%;
}

.empty ul {
  margin-left: 12%;
}



.part {
  width: 100%;
  background-size: cover;
  -moz-background-size: cover;
  background-image: url(../../assets/login-img.png);
  background-position: center;
  height: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 30px;
}

.logo2 {
  display: block;
  padding: 15px;
}

.logs {
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  margin-top: -40px;
  p {
    font-size: 20px;
  }
  h2 {
    float: left;
    margin-top: 0;
    font-size: 27px;
    text-transform: uppercase;
  }
}

.shef {
  width: 60%;
  margin: 0 auto;
}

.logs input {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  border: none;
  background-color: #f7f7f7;
  height: 45px;
  text-align: left;
  margin-top: 15px;
  padding-left: 10px;
}

.fos {
  text-align: right;
  font-size: 15px;
  color: #333333;
  margin-top: 5px;
  float: right;
  width: 100%;
}

.tt {
  width: 48%;
  margin-top: 16px;
  font-size: 20px;
  padding: 10px 0;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.ico {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}



.mod6 {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 10px 0;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.nom {
  margin-top: 0;
}

.row {
  margin: 0;
  position: relative;
}

.heading {
  width: 100%;
  float: left;
  clear: left;
  position: relative;
  font-size: 17px;
  color: #999999;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

.newt, .newt2 {
  margin-top: 80px;
  float: left;
}

.newt p {
  padding: 0 30px;
  font-size: 17px;
}

.pads {
  width: 40%;
  height: 70px;
  font-size: 28px;
  line-height: 70px;
  display: inline-block;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
}

.cn {
  font-size: 17px;
  padding: 8px 0;
  width: 44%;
  float: left;
  &:hover, &:active, &:focus {
    color: white;
    text-decoration: none;
  }
}

.bns {
  padding: 10px 0;
  width: 44%;
  float: left;
  text-align: center;
  color: #cccccc;
  font-size: 15px;
  @include linear-gradient(#fdfdfd, #e7e8e9);
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #cccccc;
    @include linear-gradient(#e7e8e9, #fdfdfd);
  }
}

/* IE6-8 */

.lhs {
  i {
    margin: 10px 9px;
    float: left;
  }
  input {
    height: 40px;
    font-size: 17px;
    color: #333333;
    background-color: #f7f7f7;
    border: none;
    text-indent: 10px;
    width: 98%;
    margin: 10px 0;
    margin-bottom: 0;
  }
}

.ins {
  width: 48%;
}

.cols {
  font-size: 14px;
  float: right;
  width: 41%;
  height: 40px;
  margin-right: 7px;
  padding: 9px 0;
  margin-bottom: 0;
  margin-top: 10px;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
}

.lhs span {
  float: right;
  margin-right: 10px;
}

.sign {
  float: right;
  width: 50%;
  padding: 0;
  height: 45px;
  margin-right: 7px;
  margin-top: 60px;
  font-size: 20px;
}

.none {
  display: none;
}

.mon22 {
  display: none;
}

.noak {
  display: none;
}


.red{
  color: red;
}
.top{
  margin-top: 10px;
}
.top2{
  margin-top: 20px;
}

.bottom{
  margin-bottom: 10px;
}
.bottom2{
  margin-bottom: 20px;
}

.circular{
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.square{
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.cir-img{
  background-color: #ccc;
  text-align: center;
}

.blank-cir-img {
  background-color: white;
  text-align: center;
}

.green-text{
  color: #04C189;
}

.thumb{
  width: 100px;
}

.small{
  width: 77px;
}

.medium{
  width: 145px;
}

.large{
  width: 185px;
}

.event-popup {
  form {
    label {
      text-align: right;
      font-weight: normal;
      color: #444444;
      font-size: 16px;
      margin-top: 7px;
      margin-bottom: 30px;
      float: right;
    }
    input {
      background-color: #ebebeb;
      border: none;
      border-radius: 0;
      height: 40px;
      float: left;
      width: 100%;
      padding-left: 15px;
      margin-bottom: 20px;
    }
    textarea {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      padding: 10px;
      background-color: #ebebeb;
      border: none;
    }
    .gentleselect-label {
      background-color: #ebebeb;
    }
    .btnx {
      width: 100%;
      height: 40px;
      margin: 0px;
      padding: 0px;
    }
  }
}

.red{color : red;}
.datepicker{
  z-index: 100000 !important;
}

.event-time{
  .gentleselect-label{
    width: 45% !important;
  }
}

.event-area-content{
  .row{
    text-align: center;
    img{
      float: center;
    }
  }
}
