.members {
  overflow: auto;
  padding: 30px 20px;
  background-color: #f7f7f7;
  .filter {
    ul {
      margin-bottom: 30px;
      li {
        display: inline;
        margin-left: 15px;
        font-size: 18px;
        a {
          color: #cccccc;
          &:hover, &:active, &:focus {
            text-decoration: none;
            color: #04c189;
          }
        }
      }
    }
  }

  .mem {
    padding: 0px;
    list-style-type: none;
    li {
      float: left;
      width: 33%;
      margin-left: 1px;
      margin-bottom: 25px;
      .glyphicon {
        color: #444444;
        z-index: 1004;
        float: left;
        &:hover {
          color: white;
        }
      }
    }
  }

  .onw {
    float: left;
    margin-right: 8px;
  }

  .mem li {
    strong a {
      display: block;
      margin-top: 15px;
      color: #04c189;
      font-size: 13px;
      font-weight: normal;
      text-transform: uppercase;
    }
    small {
      display: block;
      font-size: 13px;
    }
  }
}

