@import "bourbon";
@import "bootstrap/variables";
$green: #00c088;

/**********************
 * FIXED SECTION HEIGHT
 **********************/

#content-container {
  height: 100%;
  overflow-y: hidden;
  #content-top-bar {
    height: 70px;
    min-height: 0px;
  }
  #content-main {
    height: calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    overflow-y: auto;
  }
}
.auto-height {
  height: auto;
  min-height: 0px;
}
.scroll-section {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.club-box-top-left {
  height: 320px;
}
.club-box-bottom-left {
  height: calc(100% - 320px);
  height: -moz-calc(100% - 320px);
  height: -webkit-calc(100% - 320px);
  height: -o-calc(100% - 320px);

  // todo: what should this be?
  min-height: 200px;

  overflow-y: auto;
}




.navbar {
  border: none;
}

.tooltip .tooltip-arrow {
  display: none;
}
.tooltip-inner {
  margin-top: -30px;
  color: white;
  background: #5c6067;
}

#navigation {
  background: #e7e7e8;
  overflow: hidden;
  width: 130px;
  position: absolute;
}

.logo {
  background: image-url('logo.png') no-repeat top center;
  height: 130px;
  width: 130px;
  display: block;
}

.navbar-header {
  text-align: center;
  margin: 0;
  padding: 0;
  background: white;
}

.navbar-collapse {
  max-height: 100%;
  float: left;
}

.navbar-nav {
  width: 100%;
  float: left;
  height: 100%;
}

.navbar-nav li {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

.collapse {
  background-color: #e7e7e8;
  float: left;
  width: 100%;
  padding: 0px;
}

.navbar-toggle {
  @include radial-gradient(#59da88, #00c089);
}

.icon-bar {
  background-color: white;
}

.navbar-nav li a {
//  min-width: 80px;
//  min-height: 80px;
//  max-width: 120px;
//  max-height: 120px;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  text-align: center;
  @include radial-gradient(#59da88, #00c089);
  border-radius: 60px;
  color: #3a4348;
  font-size: 10px;
  text-shadow: none;
  img {
    height: 25px;
  }
}

.active-nav {
  border: 8px solid white;
  i {
    padding-top: 0px !important;
  }
  .clubs-nav-link {
    margin-left: -9px;
  }
}

.navbar-nav li {
  a {
    &:hover, &:active, &:focus {
      @include radial-gradient(#2dd869, #00b282);
    }
  }
  &:last-child a {
    background: none;
    font-size: 14px;
    padding-top: 0;
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  a i {
    display: block;
    padding-top: 6px;
    padding-bottom: 3px;
  }
}

@media (max-width: $screen-xs-max) {
  #navigation {
    position: static;
    width: 100%;
  }
  .container-full {
    padding-left: 0;
  }
  .navbar {
    margin-bottom: 0;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #navigation {
    position: static;
    width: 100%;
  }
  .container-full {
    padding-left: 0;
  }
  .navbar {
    margin-bottom: 0;
  }
}
