@import "bourbon";

#navigation {
  background: #e7e7e8;
  height: 100%;
  min-height: 100%;
}
@media (max-width: 991px) {
  #navigation {
    height: auto;
    min-height: 0%;
  }
}

.navbar {
  border: none;
}

.navbar-header {
  float: left;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background: white;
  width: 100%;
  height: 100%;
  min-height: 100%;
  img {
    padding: 7px;
    width: 100%;
  }
}

.navbar-collapse {
  max-height: 100%;
  float: left;
}

.navbar-nav {
  width: 100%;
  float: left;
  height: 100%;
  padding-bottom: 30px;
}

.navbar-nav li {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

.collapse {
  background-color: #e7e7e8;
  float: left;
  width: 100%;
  padding: 0px;
}

.navbar-toggle {
  @include radial-gradient(#59da88, #00c089);
}

.icon-bar {
  background-color: white;
}

.navbar-nav li a {
//  min-width: 80px;
//  min-height: 80px;
//  max-width: 120px;
//  max-height: 120px;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  text-align: center;
  @include radial-gradient(#59da88, #00c089);
  border-radius: 60px;
  color: #3a4348;
  font-size: 10px;
  text-shadow: none;
  img {
    height: 25px;
  }
}

.active-nav {
  border: 8px solid white;
}

.navbar-nav li {
  a {
    &:hover, &:active, &:focus {
      @include radial-gradient(#2dd869, #00b282);
    }
  }
  &:last-child a {
    background: none;
    font-size: 14px;
    padding-top: 0;
    height: 50px;
  }
  a i {
    display: block;
    padding-top: 6px;
    padding-bottom: 3px;
  }
}
