.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main section .page_container {
  position: relative;
  margin: 0 auto 0;
  max-width: 100%;
  z-index: 3;
}
.main section.page1 .page_container {
  top: 5%;
}
.main section  {
  overflow: hidden;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

.main section.page1 {
  background: url(../../assets/homepage_banner.jpg) no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main section.page2, .main section.page3, .main section.page4 {
  background-color: #F7F7F7;
  background-position: center center;
  background-size: cover;
  border-bottom: 8px solid #FFFFFF;
  padding-bottom: 100px;
}

.main section.page2 .page_container {
  overflow: hidden;
}

.main section.page3 .page_container {
  overflow: hidden;
}

body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
  padding: 20px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
  font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
  text-align: center;
  width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}
body.disabled-onepage-scroll code {
  width: 95%;
  margin: 0 auto 25px;
  float: none;
  overflow: hidden;
}

body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
