@import "bourbon";
$green: #00c088;

#club-photos {
  .new-album {
    font-size: 18px;
    color: #333;
    float: right;
    margin-top: -20px;
  }
  .photo-box {
    width: 100%;
    img {
      width: 100%;
      border: 5px solid #ddd;
      &:hover {
        border: 5px solid $green;
      }
    }
  }
}


#album_title {
  .carousel-control {
    img {
      margin-top: 150px;
    }
  }
}


#create_album {
  textarea {
    width: 70%;
    resize: none;
    margin-top: 10px;
    padding: 10px 15px;
    height: 220px;
    background-color: #ebebeb;
    border-radius: 0;
    border: none;
    margin-bottom: 60px;
  }
  button.create-album {
    clear: right;
    float: right;
    margin-top: -40px;
    margin-right: 23px;
    border: none;
    border-radius: 0;
    text-align: center;
    padding: 6px 15px;
    color: white;
    font-size: 16px;
    @include linear-gradient(#56d988, #02c189);
  }
}

img.framed {
  border: 9px solid #ebebeb;
}

.item img {
  margin: 0 auto;
}

.modal-body {
  min-height: 400px;
  //min-width: 1000px;
}

.album-description {
  padding: 0 15px 10px;
  margin-top: -20px;
}

.mod5 {
  max-width: 670px;
  //max-height: 250px;
  width: 65%;
  //max-height: 250px;
  margin-top: -10px;
  margin-left: 10px;
  float: left;
  .item {
    .image-frame {
      border: 8px solid #ebebeb;
      max-height: 408px;
      overflow-y: hidden;
    }
    max-height: 438px;
    p {
      padding-top: 10px;
    }
  }
  .carousel {
    .carousel-inner {
      max-height: 400px;
      display: inline-block;
    }
  }

  .carousel-block {
    display: inline-block;
  }

  .carousel-control {
    //position: relative;
    //float: none;
    padding-top: 200px;
    opacity: 1;
    filter: alpha(opacity = 100);
    background: none;
    margin: 0px 30px;
  }
  .left {
    left: -35px;
  }
  .right {
    right: -35px;
  }
}

.cap {
  float: right;
  width: 30%;
  //max-width: 240px;
  margin-top: -20px;
  font-size: 12px;
  p {
    font-size: 12px;
    span {
      color: #04c189;
    }
  }
}

.wig {
  width: 9%;
}

