@media (min-width: 970px) and (max-width: 1180px) {
  .nav{
    margin-left:100px !important;
    width:88% !important;
  }
  .navbar .nav > li{
    width:18% !important;
    text-align:center !important;
    float:right;
  }
  .navbar .nav > li:first-child{
    width:40% !important;
  }
  .navbar .nav > li i{
    display:none !important;
  }
  .caroufredsel_wrapper{
    width:94% !important
  }
  .next{
    margin-right:0 !important;
  }
  .list_carousel li{
    width:31% !important;
  }
  .rig{
    margin-right:0 !important;
    position:relative;
    z-index:1000;
  }
  .listing{
    width:100% !important;
    margin-top:266px !important;
  }
  .bx-wrapper{
    margin-top:20px !important;
  }
  .jcarousel-skin-tango{
    margin-top:30px;
  }
  .listing li p{
    margin-bottom:0 !important;
  }
  .boll-box{
    width:79% !important;
  }
  .mono{
    width:100% !important;
    text-align:center;
  }
  .mono2{
    display:none !important;
  }
  .chang2, .chang3{
    margin-top:15px !important;
  }
  .tabs li a{
    font-size:14px !important;
  }
  .tabs2 li{
    width:13% !important;
  }
  .tabs2 li a{
    font-size:13px !important;
  }
  .tabs li{
    width:31.5% !important;
  }
  .filters{
    width:100% !important;
  }
  .posts{
    width:100% !important;
  }
  .mod1{
    margin-right:0 !important;
  }
  .tab_container{
    width:92% !important;
    margin:0 !important;
    padding:0 !important;
    padding:0;
  }
  .mod2{
    width:30% !important;
  }
  .users{
    margin-bottom:50px;
    margin-left:7% !important;
  }
  .mar, .mar1{
    width:20% !important;
    margin-left:0 !important;
  }
  #tab2 .users{
    margin-left:20px !important;
  }
  #tab2 .users a{
    width:190px;
    height:190px;
  }
  #tab2 .users span{
    background: url(../img/name-bars.png) no-repeat !important;
  margin-left: 13px !important;
  margin-top: -57px !important;
  }
  .r-arrow{
    margin-right:0px !important;
  }
  .modal{
    width:85%;
  }
  .arr{
    display:none;
  }
  .users a{
    height:170px;
    width:170px;
  }
  .hovers{
    display:none !important;
  }

  .users a span{
    background:url(../img/name-bars.png) no-repeat !important;
    margin-left:4px !important;
  }
  .mis{
    line-height:18px !important;
    font-size:10px !important;
  }
  .carus li{
    margin-right:10px !important;
  }
  .two-users li h2{
    width:63% !important;
  }
  .bx-wrapper{
    width:82% !important;
  }
}

@media (min-width: 768px) and (max-width: 969px) {
  .list_carousel ul{
    width:90% !important;
  }
  .next, .prev{
    position:relative;
    z-index:1000;
  }
  .sss .users a{
    width:145px !important;
    height:145px !important;
  }
  .bx-wrapper{
    width:79% !important;
  }
  .caroufredsel_wrapper{
    width:100% !important
  }
  .next{
    margin-right:0 !important;
  }
  .list_carousel li{
    width:30% !important;
  }
  
  .logo{
    margin-left:0px !important;
  }
  .navbar .nav > li{
    float:left !important;
    width:12.6% !important;
  }
  .navbar .nav > li:first-child{
    width:37% !important;
  }
  .navbar .nav > li:first-child i, .navbar .nav > li i{
    display:none;
  }
  .mod3{
    position:relative;
    margin-top:-190px !important;
  }
  .rig{
    margin-right:0 !important;
  }
  .listing{
    width:100% !important;
    margin-top:72px !important;
  }
  .listing li p{
    margin-bottom:0 !important;
  }
  .boll-box{
    width:79% !important;
  }
  .mono{
    width:100% !important;
    text-align:center;
  }
  .mono2{
    display:none !important;
  }
  .chang2, .chang3{
    margin-top:15px !important;
  }
  .tabs li a{
    font-size:14px !important;
  }
  .tabs li{
    width:31.5% !important;
  }
  .tabs2 li a{
    font-size:12px !important;
  }
  .tabs2 li{
    width:13% !important;
  }
  .tabs3 li a{
    font-size:12px !important;
  }
  .tabs3 li{
    width:18.5% !important;
  }
  .tabs4 li a{
    font-size:12px !important;
  }
  .posts{
    width:100% !important;
  }
  .tabs4 li{
    width:48% !important;
  }
  .mod1{
    margin-right:0 !important;
  }
  .tab_container{
    width:92% !important;
    margin:0 !important;
    padding:0 !important;
    padding:0;
  }
  .mod2{
    width:30% !important;
  }
  .users{
    margin-bottom:50px;
    margin-left:-5px !important;
  }
  .mar, .mar1{
    width:20% !important;
    margin-left:0 !important;
  }
  .filters{
    width:100% !important;
  }
  .users a{
    height:165px;
    width:165px;
    margin-left:20px
  }
  #tab2 .users a{
    height:150px;
    width:150px;
    margin-left:10px
  }
  .users a span{
    background:url(../img/name-bars.png) no-repeat !important;
  }
  #tab2 span {
    margin-top:-65px !important;
    background:url(../img/name-barss.png) no-repeat !important;
  }
  .r-arrow{
    margin-right:0px !important;
    margin-top:40px !important;
  }
  .l-arrow{
    margin-top:40px !important;
  }
  .modal{
    width:90%;
  }
  .arr{
    display:none;
  }
  .pro-user p{
    width:58% !important;
  }
  .comp{
    clear:left;
  }
  .right-side{
    width:44% !important;
  }

  .hovers{
    display:none !important;
  }
  .mis{
    line-height:18px !important;
    font-size:10px !important;
  }
  .mono{
    margin-top:90px !important;
  }
  .carus{
    margin-top:190px !important;
  }
  .carus li{
    margin-right:0px !important;
  }
  .carus li a{
    height:115px !important;
    float:left;
    width:115px !important;
  }
  .carus li:last-child a{
    height:20px !important;
    float:left;
    width:20px !important;
  }
  .two-users li h2{
    width:60% !important;
  }
  .nbs-flexisel-container{
    margin-left:0 !important;
  }
  .img-container3, .img-container2, .img-container{
    margin-top:20px !important;
    padding-top:20px !important;
  }
  .rig{
    margin-top:100px !important;
  }
}

@media (max-width: 767px) {

  .caroufredsel_wrapper{
    width:100% !important
  }
  .next{
    margin-right:0 !important;
  }
  .list_carousel li{
    width:28% !important;
  }
  .btn2, .advance{
    margin-right:30px !important;
  }
  .carus{
    margin-top:25px !important;
  }
  .carus li{
    margin-left:20px !important;
  }
  .hovers{
    display:none !important;
  }
  .newp{
    width:104% !important;
    margin-left:10px;
  }
  
  .logo{
    margin-left:0px !important;
  }
  .navbar .nav > li{
    width:100% !important;
    clear:left;
  }
  .navbar .nav > li:first-child i, .navbar .nav > li i{
    display:none;
  }
  .mod3{
    position:relative;
    margin-top:1px !important;
  }
  .rig{
    margin-right:0 !important;
  }
  .listing{
    width:100% !important;
    margin-top:25px !important;
  }
  .boll-box{
    width:84% !important;
  }
  .mono{
    width:100% !important;
    text-align:center;
    margin-top:-920px !important;
  }
  .nn{
    margin-top:-150px !important;
  }
  .left-menu{
    margin-top:430px !important;
  }
  .mns{
    margin-top:10px !important;
  }
  .mono2{
    display:none !important;
  }
  .filters{
    width:105% !important;
  }
  .chang2, .chang3{
    margin-top:15px !important;
  }
  .tabs li a{
    font-size:14px !important;
  }
  .tabs li{
    width:30% !important;
  }
  .tabs3 li, .tabs4 li, .tabs5 li, .tabs6 li{
    width:100% !important;
    margin-bottom:10px;
  }
  .tabs2 li a{
    font-size:12px !important;
  }
  html ul.tabs5 li.active, html ul.tabs5 li.active, html ul.tabs6 li.active, html ul.tabs6 li.active{
    margin-top:2px !important;
  }
  .tabs2 li{
    margin-bottom:10px;
    clear:left;
    width:100% !important;
  }
  .mod1{
    margin-right:0 !important;
  }
  .tab_container{
    width:90% !important;
    margin:0 !important;
    padding:0 !important;
    padding:0;
  }
  .mod2{
    width:50% !important;
  }
  .users{
    margin-bottom:50px;
    width:100%;
  }
  .mar, .mar2{
    margin-left:0 !important;
  }
  .carus ul{
    width:100% !important;
  }
  .two-users li{
    text-align:center;
  }
  .two-users li a{
    float:none !important;
  }
  .two-users li h2{
    clear:left;
    width:100% !important;
    padding-top:0 !important;
  }
  html ul.tabs3 li.active, html ul.tabs3 li.active{
    margin-top:0px !important;
  }
  html ul.tabs4 li.active, html ul.tabs4 li.active{
    margin-top:0px !important;
  }
  .btn3{
    width:40% !important;
    margin-left:0 !important;
  }
  .r-arrow{
    margin:0 auto !important;
    text-align:center;
    width:100%;
  }
  .l-arrow{
    margin:0 auto !important;
    text-align:center;
    width:100%;
  }
  .left-side, .right-side{
    width:100% !important;
  }
  .msg{
    padding-bottom:0 !important;
  }
  .tex-area{
    width:70% !important;
  }
  .msg{
    margin-top:15px !important;
  }
  .arr{
    display:none;
  }
  .register{
    padding-left:10px;
    width:98% !important;
  }
  .half, .two-col{
    width:100% !important;
    margin-bottom:25px;
  }
  .bx-prev{
    left:-22px !important;
  }
  #foo2 li a span{
    display:none !important;
  }
  .nbs-flexisel-nav-right{
    right:0 !important;
    top:50px !important;
  }
  .nbs-flexisel-nav-left{
    left:inherit !important;
    top:50px !important;
    right:50px !important;
  }
  .carus{
    height:230px;
    overflow:hidden;
  }
  #flexiselDemo1 li{
    margin-right:0 !important;
  }
  .img-container3, .img-container2, .img-container{
    margin-top:20px !important;
    padding-top:20px !important;
    width:100% !important;
  }
  .list_carousel ul{
    width:92% !important;
    margin-top:-30px !important;
  }
  .next, .prev{
    z-index:1000;
    position:relative;
  }
  .aa a{
    height:200px !important;
  }
}

@media (max-width: 480px) {
  .aa a{
    height:200px !important;
  }
  .list_carousel{
    height:350px;
    padding-top:50px;
  }
  .list_carousel ul{
    width:85% !important;
    margin-top:-30px !important;
  }
  .next, .prev{
    z-index:1000;
    position:relative;
  }
  #top{
    margin-top:0px!important;
  }
  .img-container4{
    margin-top:-70px !important;
  }
  .img-container3, .img-container2, .img-container{
    margin-top:20px !important;
    padding-top:20px !important;
    width:100% !important;
  }
  .carus{
    height:230px;
    overflow:hidden;
  }
  #flexiselDemo1 li{
    margin-right:0 !important;
  }
  .caroufredsel_wrapper{
    width:100% !important
  }
  .next{
    margin-right:0 !important;
  }
  .list_carousel li{
    width:26% !important;
  }
  .nbs-flexisel-nav-right{
    right:0 !important;
  }
  #foo2 li a span{
    display:none !important;
  }
  .bx-wrapper{
    width:76% !important;
  }
  .bx-prev{
    left:-22px !important;
  }
  .half, .two-col{
    width:100% !important;
    margin-bottom:25px;
  }
  .profile p{
    clear:left;
    margin-left:0 !important;
  }
  .profile h3{
    width:80% !important;
  }
  .hovers{
    display:none !important;
  }
  .pro-user a{
    float:none !important;
  }
  .pro-user, .comp{
    width:100%;
    text-align:center;
  }
  .ne a{
    margin-left:25% !important;
  }
  .ne .mar2{
    margin-left:25% !important;
  }
  .pro-user p{
    margin-top:10px !important;
    width:90% !important;
  }
  .comp{
    clear:left;
  }
  .left-side, .right-side{
    width:100% !important;
  }
  .msg{
    padding-bottom:0 !important;
  }
  .tex-area{
    width:60% !important;
  }
  .msg{
    margin-top:15px !important;
  }
  .arr{
    display:none;
  }
  .carus ul{
    width:100% !important;
  }
  .two-users li{
    text-align:center;
  }
  .two-users li a{
    float:none !important;
  }
  .two-users li h2{
    width:100% !important;
  }
  .tabs2 li a, .tabs3 li a, .tabs4 li a, .tabs5 li a, .tabs6 li a{
    font-size:12px !important;
  }
  .tabs2 li, .tabs3 li, .tabs4 li, .tabs5 li, .tabs6 li{
    margin-bottom:10px;
    clear:left;
    width:96% !important;
  }
  .mono{
    width:100% !important;
    text-align:center;
    margin-top:-120px !important;
  }
  .btn3{
    width:50% !important;
  }
  .logo{
    margin-left:0px !important;
  }
  .navbar .nav > li{
    width:100% !important;
    clear:left;
  }
  .navbar .nav > li:first-child i, .navbar .nav > li i{
    display:none;
  }
  .mod3{
    position:relative;
    margin-top:1px !important;
  }
  .rig{
    margin-right:0 !important;
  }
  .listing{
    width:100% !important;
    margin-top:25px !important;
  }
  .boll-box{
    width:79% !important;
  }
  .mono{
    width:100% !important;
    text-align:center;
  }
  .mono2{
    display:none !important;
  }
  .chang2, .chang3{
    margin-top:15px !important;
  }
  .tabs li a{
    font-size:14px !important;
  }
  .tabs li{
    width:30% !important;
  }
  .mod1{
    margin-right:0 !important;
  }
  .tab_container{
    width:90% !important;
    margin:0 !important;
    padding:0 !important;
    padding:0;
  }
  .mod2{
    width:50% !important;
  }
  .users{
    margin-bottom:50px;
    width:100%;
  }
  .mar, .mar2{
    margin-left:0 !important;
  }
  .register{
    padding-left:10px;
    width:97% !important;
  }
}