@import "bourbon";
$green: #00c088;

.search-detail {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  h3 {
    font-size: 32px;
    color: #444444;
    float: left;
  }
  span {
    font-size: 16px;
    float: left;
    margin: 30px 15px;
  }
  input {
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    color: #333333;
    margin-top: 15px;
  }
}

.search-results-listing {
  margin-top: 30px;
  .result-listing {
    margin-bottom: 20px;
    h4 {
      color: #00c089;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      color: #555;
      a {
        color: #555;
        padding-top: 5px;
        display: block;
        span {
          color: $green;
        }
      }
    }
  }
}

.empty {
  width: 100%;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 0;
  ul {
    margin-top: -10px;
    margin-bottom: -15px;
  }
  p {
    font-style: normal;
    background-color: white;
    padding: 10px 7px;
    display: inline-block;
    margin: 0 10px;
  }
}

.con {
  width: 450px;
  height: 200px;
  float: left;
  margin-top: 50px;
}


.csthumb {
  display: block;
  background-color: #c2c2c2;
  height: 142px;
  width: 142px;
  float: left;
  margin-right: 10px;
  border-radius: 70px;
}

.paddings {
  h4 {
    color: #00c089;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 15px;
    margin-top: -10px;
    a {
      color: #444444;
      padding-top: 5px;
      display: block;
      span {
        color: $green;
      }
    }
  }
}


.btnd {
  float: right;
  width: 20% !important;
  font-size: 25px;
  padding: 5px 0;
  margin-right: 15%;
  margin-bottom: 20px;
}

.start-over {
  margin-top: 30px;
}
