@import "bourbon";

#registrations {
  .title {
    color: #333333;
  }

  .delete-link {
    font-size: 11px !important;
    color: #999 !important;
    margin-bottom: 30px;
  }

  .settings-form {
    margin-top: 90px;
    h3 {
      font-size: 30px;
    }
    input {
      width: 100%;
      border: none;
      height: 35px;
      font-size: 15px;
      margin-bottom: 10px;
      float: left;
      text-indent: 15px;
    }
    input::-webkit-input-placeholder {
      color: #777777;
    }
    a {
      color: #00c089;
      font-size: 15px;
      display: block;
    }
    p {
      font-size: 11px;
      width: 100%;
      text-align: center;
      float: left;
    }
    .update-settings-btn {
      @include linear-gradient(#56d988, #02c189);
      color: white;
      font-size: 26px;
      padding: 20px 0;
      width: 100%;
      margin-top: 15px;
      border-radius: 0;
      margin-bottom: 15px;
      text-align: center;
      &:hover, &:active, &:focus {
        @include linear-gradient(#02c189, #4bc69f);
      }
    }

  }
  .current_password_message {
    margin-bottom: 30px;
  }
}

