$("#uni-name").html("#{@university.name}");
$("#uni-mascot").html("#{@university.mascot}");
$(".modal-backdrop").hide();
$("#forms").html("#{escape_javascript(render partial: 'forms', locals: {university: @university})}");