- flash.reject {|k,v| [:tab_id].include?(k)}.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name == :notice ? "success" : "danger"}"}
      %a.close{"data-dismiss" => "alert", style: "margin-top: -20px !important; margin-right: -15px !important"}
      = msg.html_safe
