.row-fluid
  .container
    .span3.offset9
      %button.btn.btn2{name: 'btn'}
        %i
          = image_tag('search-icon.png')
      %input.field{name: 'text', type: 'text'}
      %a.advance{ href: "javascript:void(0);"}Advanced
.clearfix
